  <!-- Site footer -->
  <footer class="site-footer" style="margin-top: 50px; box-sizing: border-box;">
    <div class="container">
      <div class="row" style="justify-content: space-around;">
        <div class="col-sm-12 col-md-6 px-6 mx-4">
          <h5>About Us</h5>
          <p class="text-justify">Indulge all your food cravings with Aklty x Baity!.Aklty x Baity is an online food ordering & delivery platform offering users a seamless and convenient way to order food from a variety of restaurants & grocery shops all over Egypt.Aklty x Baity has been in the Egyptian market since May 2017, serving users 24/7 in more than 11 cities from more than 1,800 restaurants & grocery shops and offering them a unique food ordering & delivery experience. You can order from Aklty x Baity through the mobile app (iOS & Android) or the website and pay however you want (cash or online) and with exclusive offers and discounts.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>