<section class="container-lg justify-content-lg-center col-sm-12 text-light my-5 p-0">
    <h1 style="color: rgb(41, 41, 41)">
      Full Menu
    </h1>
    <p style="color: rgb(134, 134, 134); font-weight: 500;">VIEWING ALL PRODUCTS</p>

    <div class="container text-light " style="margin-bottom: 200px;">
        <div class="row justify-content-lg-center">
          <div class="card col-lg-3 col-sm-12 position-relative m-1 d-lg-block p-3 rounded-3" *ngFor="let product of productService.Products" style="background-color: rgba(212, 212, 212, 0.15); height: 300px;" style="width: 18rem;">
            <img [src]="product.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title" style="color: rgb(61, 61, 61); font-weight: 500; margin: 40px 0px 16px;">{{product.name}}</h2>
              <p class="card-text" style="color: rgb(134, 134, 134); font-weight: 500;">{{product.description}}</p>
              <button class="btn btn-success rounded-pill " (click)=addtocart(product)>Add to cart</button>
            </div>
          </div>
        </div>
      </div>


</section>
